.card-container{
  display: flex;
}

.container{
  display: flex !important;
}

.image{
  &:hover{
    cursor: pointer;
    opacity: 0.5;
  }

  img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.data-des{
  background-color: #3C3E44;
    width: 500px;
  margin-bottom: 10px;
  // margin-left: 10px;
  height: 300px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.itemName{
  color: white;
  font-weight: 700;
  margin-top: 10px;
}

.desc{
  color: white;
  text-transform: capitalize !important;
  margin-top: -20px;
}

.heading{
  color: #909095;
  margin-top: 30px;
}

.dot{
  background-color: red;
  width: 15px;
  height: 15px;
  margin-top: 5px;
  border-radius: 70% !important;
}

.desc-bg{
  background-color: #262A32;
  height: 300px;
  padding: 15px;
}